@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

::-webkit-scrollbar {
    display: none;
}

.bg-gray {
    background-color: rgb(228, 228, 228);
}

h1 {
    position: sticky;
    z-index: 999;
    top: 0;
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 3em;
    padding: 0.3em 0;
    margin: 0;
}
